[submodule "secretpad-frontend"]
	path = secretpad-frontend
	url = git@github.com:M0rtzz/secretpad-frontend.git
[submodule "secretpad"]
	path = secretpad
	url = git@github.com:M0rtzz/secretpad.git
[submodule "data-sandbox-package"]
	path = data-sandbox-package
	url = git@github.com:M0rtzz/data-sandbox-package.git
